.helens {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  border: 5px dotted black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1,
h2,
h4,
p {
  text-align: center;
}

h1 {
  color: lightblue;
  font-family: 'Anton';
  text-shadow: black 2px 2px;
}

.links,
form {
  text-align: center;
}

.links {
  color: black;
}

body {
  background: lightyellow !important;
}

h1 {
  font-weight: bold !important;
  text-decoration: 3px dotted black overline underline !important;
  margin-top: 1rem !important;
}

h2,
h4 {
  text-shadow: white 1px 1px 2px;
}

h4 {
  text-decoration: none;
  letter-spacing: .3em;
}

/* card styling */
.card {
  align-items: center;
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.9);
  transition: 0.7s;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card:hover {
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: lightgreen;
}

.card img {
  border: 3px dashed black;
}

#contact {
  text-align: center;
  align-items: center;
}

.aboutme {
  font-weight: bold !important;
  margin-left: 4rem;
  margin-right: 4rem;
}

.skill {
  height: 15%;
  width: 15%;
  padding: 7px;
  margin-left: 1.2rem;
}

.iframe {
  text-align: center;
}

.project {
  text-align: center;
}

div {
  overflow: hidden;
}

/* media query for resume size on mobile */
@media only screen and (max-width: 550px) {
  iframe {
    height: 100%;
    width: 80%;
  }
}

.projectt {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  word-spacing: .3em;
  letter-spacing: .1em;
  list-style-type: none;
}

.title {
  text-decoration: underline;
}

input[type=submit] {
  color: black;
  background: lightblue;
  border-radius: 50px;
  border: dotted black;
}

/* styling the background colors */

#about {
  background-color: lightblue !important;
}

#projects {
  background-color: lightblue !important;
}

#contact {
  background-color: lightblue !important;
}
